body {
    background-color: #e7c55b;
    margin: 0;
    padding: 0;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;              /* increased navbar height */
    padding: 10px 30px;        /* larger clickable area */
    background-color: #e7c55b;
    z-index: 100;
    display: flex;
    align-items: center;       /* vertically center items */
    justify-content: flex-start;
    gap: 40px;                 /* spacing between items */
    box-sizing: border-box;
}
.navbar .nav-home {
    font-weight: 900;
    font-size: 43px;
    padding: 8px 12px;
    margin: 0 270px 0 110px;
}
.navbar .nav-item {
    font-weight: 400;
    font-size: 30px;
    padding: 8px 12px;
}

/* Optional: if links inside these elements need sizing */
.navbar a {
    font-size: 28px;
    color: inherit;
    text-decoration: none;
    color: white;
}
a:hover {
    color: #ffe300;
}
.image-container {
     position: relative;   
     display: inline-block; 
     width: 100%;
}
.image-container .bg{ 
    display: block; 
    width: 100%;
    height: auto; 
    filter: brightness(85%) blur(3px);
}
.image-container .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px; /* adjust as needed */
    max-width: 90%; /* responsive fallback */
    height: auto;
    pointer-events: none;
    z-index: 2;
}
.image-container .name {
  position: absolute;
  top: 69%;               /* adjust */
  left: 50%;              /* adjust */
  transform: translate(-50%, -50%);
  color: white;
  font-size: 52px;       /* adjust */
  font-weight: bold;
  z-index: 2;
}   
.info {
    padding: 38px 85px;
    background-color: #f1dea6;
    color: white;
    text-align: center;
    font-weight: 70;
    font-size: 18px;
}
.restaurant-image {
    display: block;
    margin: 100px auto;
    width: 75%;
    border-radius: 33px;
}
.contact-info {
    padding: 38px 85px;
    background-color: #f7d785;
    color: white;
    text-align: center;
}
.contact-info h2 {
    font-weight: 700;
    font-size: 40px;
}
.contact-info h3 {
    font-weight: 600;
    font-size: 28px;
}
.contact-info p {
    font-weight: 400l;
    font-size: 20px;
}