body {
  /* background-color: beige; */
  background-image: url(https://www.shutterstock.com/shutterstock/photos/2659562203/display_1500/stock-vector-halloween-pumpkin-patterns-for-backgrounds-fabrics-covers-holiday-wrapping-2659562203.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
