/* body {
  background-color: beige;
}
h1 {
  color: SlateBlue;
  font-size: 1rem;
  text-deoration: underline;
} 
 */
.name{
  color: palevioletred;
}
.question{
  border-style: dashed;
  border: 5px;
  border-color: FF1A76;
  color: blueviolet;
}
